*{
    margin: 0;
    box-sizing: border-box;
    align-content: center;
}

.goalsHeading{
    text-align: center;
    padding-top: 10px;
}
.nav{
    text-align: center;
    height: 40px;
}
.navButtons{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    padding: 5px 15px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

body{
    width: 90vw;
    margin: auto;
    max-width: 1500px;
}

main{
    top: 45px;
}

footer{
    margin-bottom: 20px;
}
.spaceBetween{
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: disc ;
}

@media screen and (max-width:900px){
    h1{
        padding-top: 15px;
    }
    .navButtons{
        padding: 5px 8px;
        margin-right: 10px;
    }
}